<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/element-ui@2.13.2/index.css"/>
</head>
<body>
<div id="app">
    <div v-if="!ws">
        <el-input v-model.trim="name"></el-input>
        <el-button @click="connect">连接</el-button>
    </div>
    <div v-else>
        <div>
            <p v-for="item in record" :key="item.time">[{{item.time}}] {{item.from}}:{{item.msg}}</p>
        </div>
        <el-input v-model.trim="content" type="textarea"></el-input>
        <el-button @click="send" :disabled="!content">send</el-button>
    </div>
</div>
</body>
</html>

<script src="static/vue@2.6.11.js"></script>
<script src="static/element-ui@2.13.2/index.js"></script>
<script>

    new Vue({
        el: '#app',
        data() {
            return {
                name: '',
                id: '',
                ws: null,
                content: null,
                record: [],
            }
        },
        mounted() {
            if(!window.WebSocket){
                alert('您的浏览器不支持WebSocket')
            }
        },
        methods: {
            connect() {
                if(!window.WebSocket){
                    alert('您的浏览器不支持WebSocket');
                    return;
                }
                if (this.name) {
                    let ws = new WebSocket('ws://10.21.16.11:8001');

                    ws.onopen = (e) => {
                        console.log("连接服务器成功");
                        this.id = Date.now();
                        let data = {
                            type: 'open',
                            id: this.id,
                            msg: this.name,
                        };
                        ws.send(JSON.stringify(data));
                    };

                    ws.onclose = (e) => {
                        console.log("服务器关闭");
                    };

                    ws.onerror = () => {
                        console.log("连接出错");
                    };

                    ws.onmessage = (e) => {
                        let data = e.data || '{}';
                        console.log(data)
                        data = JSON.parse(data);
                        if (data.from) {
                            this.record.push(data);
                        }
                    };

                    this.ws = ws;
                }
            },
            send() {
                if (this.content) {
                    let data = {
                        type: 'send',
                        from: this.name,
                        msg: this.content,
                    };
                    this.ws.send(JSON.stringify(data));
                }
            },
            formatDate(date) {
                if (!date) {
                    return ''
                }
                date = new Date(date)
                let year = date.getFullYear()
                let month = String(date.getMonth() + 1).padStart(2, '0')
                let day = String(date.getDate()).padStart(2, '0')
                let hour = String(date.getHours()).padStart(2, '0')
                let minute = String(date.getMinutes()).padStart(2, '0')
                let second = String(date.getSeconds()).padStart(2, '0')
                return `${year}-${month}-${day} ${hour}:${minute}:${second}`
            },
        }
    });


</script>